<div class="container py-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag(@product.photo_url, width: '100%') %>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <p>Prix: <%= humanized_money_with_symbol (@product.price) %></p>
      <p> etc ....</p>
      <%= form_tag orders_path do %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <%= submit_tag 'commander', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
